<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      RunPal  - <i> Total Runs: {{ distances.length }}</i> 
    </ion-title>
    
    
    
  
    <ion-title slot="end">
      <a [routerLink]="['/info']" style="color: #fff; text-decoration: underline;">
        Benchmark Information
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RunPal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Current Weather Conditions</ion-card-title>
      <ion-card-subtitle>Data provided by <i>OpenWeatherMap</i></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img slot="end" [src]="this.icon">
      <ion-item color="warning">
        Temperature: {{temp}}°C
      </ion-item>
      <ion-item color="warning">
        Conditions: {{weather}}
      </ion-item>
      <ion-item color="warning">
        Wind speed: {{windSpeed}} kmph
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title><strong>LOG A RUN</strong></ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      Save your run to track your perfromance!
    </ion-card-content>

    <ion-button [routerLink]="['/input']" click="goToInput()" expand="block">Log</ion-button>
  </ion-card>



  <ion-card *ngFor="let time of runTimes; let i = index" class="run-card" color="medium">
    <ion-card-header>
      <ion-card-title><strong>Run #{{ i + 1 }}: </strong><i>{{ unixTimestampToDate(this.timeStamps[i]) }}</i></ion-card-title>

      <ion-card-subtitle>
        {{ distances[i] }} km in {{ time }} min
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content color="medium">
      <ion-list>
        <ion-item lines="none" color="success">
          <ion-label><strong>⏱ Pace:</strong></ion-label>
          <ion-label slot="end">{{ (time / distances[i]).toFixed(2) }} min/km</ion-label>
        </ion-item>

        <ion-item lines="none" color="danger">
          <ion-label><strong>🔥 Calories:</strong></ion-label>
          <ion-label slot="end">{{ (distances[i] * 65).toFixed(0) }} kcal</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>